body{
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

h3, h4, h5{
  color: black;
}

.heading {
  text-align: left;
  position: static;
  width: 100%;
  background-color:black;
  z-index: 50;
  padding-left: 300px;
}

.heading h1{
  font-size: 5em;

}

.secondary_nav {
  margin-top: -65px;
  position: fixed;
  top: 165px;
  z-index: 50;
  background-color:black;
  width: 100%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-left: none;
  border-right: none;
  color: white;
  text-decoration: none;
}

.secondary_nav a{
  color: white;
}

.heading h1{
  display: inline-block;
  color: #53A548;
  text-align: center;
}
#uwu{
  color: white;
}
.content p{
  float: left;
}
.rating{
  display: block;
  position: absolute;
bottom: 8px;
left: 16px;
}
.delivery_time{
  display: block;
  position: absolute;
bottom: 18px;
left: 16px;
}

.content, .mItem{
  margin-top:10px;
  background-color:white;
  border-style: ridge;
  border-width: 1px;
  padding: 20px;
  color:black;
  border-radius: 1px;
  display: inline-block;
  width: 500px;
  height: 600px;
  transition: 0.2s linear;
  position: relative;
  text-align: center;
}

.mItem{
  height: 200px;
  width: 400px;
}

.mItem img{
  height: 100px;
  width: 100px;
  float: right;
}


.content h3{
  color: white;
  font-size: 45px;
}

.content p{
  font-size: 1.3em;
}

.content:hover, .swirl-in-fwd:hover{
  cursor: pointer;
  box-shadow: 5px 10px #888888;

}


.input{
  color: black;
}

.nav_menu{
  background-color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  width: 100%;
  z-index: 50;
    border-style: ridge;

 }

.nav_menu a{
  display: inline-block;
  color: black;
  padding: 30px 100px;
  text-decoration: none;
  margin-bottom: 5px;



}

/*about*/
.row{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px
}

.col-10{
  -ms-flex:0 0 83.333333%;
  flex:0 0 83.333333%;
  max-width:83.333333%
}

.col-10, .col-md-6{
  position:relative;
  width:100%;
  min-height:1px;
  padding-right:25px;
  }

.col-md-6{
  -ms-flex:0 0 50%;flex:0 0 50%;
  max-width:50%
}

.mx-auto{margin-right:auto!important}
.mx-auto{margin-left:auto!important}

.my-5{margin-top:0rem!important}
.my-5{margin-bottom:0rem!important}


.banner-title {
  color: var(--mainGreen);
  font-size: 4rem;
}

.my-5{margin-top:0rem!important}
.my-5{margin-bottom:0rem!important}

.w-75{width:100%!important}

.align-self-center{-ms-flex-item-align:center!important;
  align-self:center!important}

.text-center{text-align:center!important}

.about-img__container {
  position: relative;
}

:root {
  --mainGreen: #53A548;
  --mainYellow: rgb(249, 228, 148);
}

.about-img__container::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: -1;
  transition: all 1s ease-in-out;
}

.about-img__container:hover:before {
  top: 0;
  left: 0;
}

.img-fluid{
  max-width:100%;height:auto;
}

*/:root{--Green:#53A548; --yellow:#ffc107;}

@media (min-width: 992px)
.container{
  max-width: 960px;
}

.container{
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

*, ::after,
::before{
  box-sizing: border-box;
}

/* banner */

.banner {
  color: var(--mainWhite);
  margin-top: -4rem;
}

.banner-link {
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: 0.2rem solid var(--mainBlack);
}
.banner-link:hover {
  background: var(--mainBlack);
  color: var(--mainPink);
}

/*button*/
.logbtn{
  display: block;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  background: green;
  background-size: 200%;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: .5s;
	text-align: center;
  float: right;
  margin-right: 10px;
}

.logbtn:hover{
  background-position: right;
}

img {
  width: 90%;

}



/* Slider */
#slider{
  width:100%;
  height:400px;
  position:relative;
  overflow:hidden;
}

.slides{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}

.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}



/* Legend */
.legend{
  border:500px solid transparent;
  border-left:800px solid rgba(52, 73, 94, .7);
  border-bottom:0;
  position:absolute;
  bottom:0;
}

/* Contents */
.kontent{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;


}

.kontent img{
  width: 100%;
}

.content-txt{
  width:400px;
  height:150px;
  float:left;
  position:relative;
  top:175px;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;
}

.content-txt h2{
  font-family:Arial;
  text-transform:uppercase;
  font-size:24px;
  color:#fff;
  text-align:left;
  margin-left:30px;
  padding-bottom:10px;
}

.content-txt p{
  font-family:arial;
  font-weight:normal;
  font-size:14px;
  font-style:italic;
  color:#fff;
  text-align:left;
  margin-left:30px;
}

/* Switch */
.switch{
  width:120px;
  height:10px;
  position:absolute;
  bottom:50px;
  z-index:99;
  left:30px;
}

.switch ul{
  list-style:none;
}

.switch ul li{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#333;
  float:left;
  margin-right:5px;
  cursor:pointer;
}

.switch ul{
  overflow:hidden;
}

.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background:#f39c12;
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide{
  0%,100% {margin-left:0%;}
  21% {margin-left:0%;}
  25% {margin-left:-100%;}
  46% {margin-left:-100%;}
  50% {margin-left:-200%;}
  71% {margin-left:-200%;}
  75% {margin-left:-300%;}
  96% {margin-left:-300%;}
}

@-moz-keyframes slide{
  0%,100% {margin-left:0%;}
  21% {margin-left:0%;}
  25% {margin-left:-100%;}
  46% {margin-left:-100%;}
  50% {margin-left:-200%;}
  71% {margin-left:-200%;}
  75% {margin-left:-300%;}
  96%{margin-left:-300%;}
}

@keyframes slide{
  0%,100% {margin-left:0%;}
  21% {margin-left:0%;}
  25% {margin-left:-100%;}
  46% {margin-left:-100%;}
  50% {margin-left:-200%;}
  71% {margin-left:-200%;}
  75% {margin-left:-300%;}
  96% {margin-left:-300%;}
}

@-webkit-keyframes Kontent-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes Kontent-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@keyframes Kontent-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@-webkit-keyframes on{
  0%,100% {margin-left:0%;}
  21% {margin-left:0%;}
  25% {margin-left:15px;}
  46% {margin-left:15px;}
  50% {margin-left:30px;}
  71% {margin-left:30px;}
  75% {margin-left:45px;}
  96% {margin-left:45px;}
}

@-moz-keyframes on{
  0%,100% {margin-left:0%;}
  21% {margin-left:0%;}
  25% {margin-left:15px;}
  46% {margin-left:15px;}
  50% {margin-left:30px;}
  71% {margin-left:30px;}
  75% {margin-left:45px;}
  96% {margin-left:45px;}
}

@keyframes on{
  0%,100% {margin-left:0%;}
  21% {margin-left:0%;}
  25% {margin-left:15px;}
  46%{margin-left:15px;}
  50% {margin-left:30px;}
  71% {margin-left:30px;}
  75% {margin-left:45px;}
  96% {margin-left:45px;}
}

/*Images side by side*/
.column {
  float: left;
  width: 22%;
  padding: 5px;
}

.row::after {
  Kontent: "";
  clear: both;
  display: table;
}


.greeting h4, .greeting1 h4{
  font-size: 3em;

}

.greeting h3, .greeting p, .greeting1 h3, .greeting1 p{
  font-size:1.5em;
    display: inline;
}
.greeting h4, .greeting p, .greeting1 h4, .greeting1 h3{
  padding-left: 10px;
}

.greeting{
  background: url(img/kfc.jpg) 100%;
  color: white;
  height: 250px;
}

.nav_menu, .secondary_nav {
  display: none;
}

.wrap{
  text-align: center;
}

.kunardi{
  padding: 30px;
}




      .open-button {
        background:green;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 100px;



      }


      .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
      }

      .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
      }

      .form-container textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 200px;
      }

      .form-container textarea:focus {
        background-color: #ddd;
        outline: none;
      }

      .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }

      .form-container .cancel {
        background-color: red;
      }

      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }

.footer{
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 50px;


}

.footer a{
  text-decoration: none;
  color: #FFFFFC;
}

.footer a:hover{
  text-decoration: underline;
  color: #42858C;
}


.social-link li{
  font-family: sans-serif;
  text-align: center;
  list-style: none;
  margin: 10px 30px;
  padding: 20px 20px;
  display: inline;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h3{
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.mItem .overlay{
  position: absolute;
  top: 80px;
  left: 140px;
}

.mItem p, .mItem a{
  position: absolute;
  bottom: 8px;
  left:20px;
  display:block;
}
.mItem a{
  right: 30px;
  background-color: green;
}


i {
  color: green;
}

a i{
  color: white;
}

#overide{
  margin: 0px;
}

.white-background{
  width: 30%;
  color: black;
  background-color: white;
  display: block;
  margin-left: 20px;
  border-radius: 3px;
  margin-top: 50px;
  position: absolute;
  top: 80px;
  left: 140px;
}

#cartbtn{
  margin-top: 5px;
}

/*Mobile Display*/

@media only screen and (max-width: 750px) {
  .nav_menu a{
    padding: 30px 30px;
    margin-left: 2px;
    margin-right:2px;
    margin-bottom: 10px;


  }
  h3{
    color: black;
  }


img{
  width: 80%;
}

.content{
  display: block;
  width: 100%;
  height: 100%;

}


.greeting h4, .greeting h3, .greeting p, .greeting1 h4, .greeting1 h3, .greeting1 p{
  font-size:1em;
  padding-left: 10px;
}

.greeting h4{
padding-top: 10px;
}

.greeting h4, .greeting p, {
  padding-left: 10px;
}

.kunardi{
  display: none;
}

.heading h1{
  font-size: 3em;
}

.secondary_nav {
  margin-top: -65px;
  position: fixed;
  top: 155px;
  display: block;
}
.nav_menu{
  display: block;
      height: 10%;
      margin-top: 30px;
}




body{
  background-color: #EEEEEE;

}

.heading{
  text-align: center;
  font-size: 1em;
  padding-left: 0px;
  margin-left: 0px;
  position: fixed;
  top: 0;
  height: 8%;

}



footer, .heading h2{
  display: none;
}

footer{
  right: 0;
  left: -15px;
}

.white-background{
  font-size: 1.5em;
  width: 60%;
  margin: 0;
  left: 10px;;
}

.banner-title {
  font-size: .7em;
  float: left;


}
